
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{

    scroll-behavior: smooth;

}
*{


    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    

}
html{

    font-size: 10px;
}
body{
   width: 100%;
   overflow-x: hidden;
   background-color: var(--links);
   margin: auto;
}

.theme{

 --nav:linear-gradient(to right,skyblue 50%, rgba(0, 0, 0, 0.945));
 --links: skyblue;
 --color:white;
 --links-hover:rgb(24, 121, 160);
 --col:linear-gradient(skyblue,transparent);

   
}
.theme-1{


   --nav:linear-gradient(to right, black 70%,transparent);
   --links: black;
   --color:white;
   --links-hover:rgb(24, 121, 160);
   --col:linear-gradient(skyblue,transparent);


}

.header{

    
    width: 100%;
    height: 120vh;
    background-image: url(image/lo-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: right;
    background-color:var(--links);
    margin: auto;
    border-radius: 15px;
   
 
}
/* navbar */

.navbar{

width: 100%;
display: flex;
height: 50px;
align-items: center;
justify-content: space-between;
background-image: var(--nav);
position: fixed;
z-index: 999;
margin: auto;

}
.part1{

    width: 50%;
    height: 50px;
    display: flex;
}
.part2{
  display: flex;
    width: 40%;
    height: 50px;
    align-items: center;
    
/* links navbar */
}
.links a{

    text-decoration: none;
    color: var(--color);
    background-color:var(--links) ;
    margin-left: 40px;
    padding: 2px;
    font-size: 1.5rem;
    border-radius: 20%;
    display: inline-block;
    transition: 1s;

}
.link-1:hover{

   background-color:var(--links-hover) ;
    transform:scale(1.2);

   
}
.link-2:hover{

   background-color: var(--links-hover);
    transform:scale(1.2);

   
}
.link-3:hover{

   background-color: var(--links-hover);
    transform:scale(1.2);

   
}
.link-4:hover{

   background-color: var(--links-hover);
    transform:scale(1.2);

   
}

/* toggel */
.toggel{

    background-color:var(--color);
    width: 100px;
    height: 40px;
    position: relative;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    background-color:var(--links-hover) ;

 }


.toggel img {

   width: 40px;
   height: 40px;
   border-radius: 30px;
   background-color: var(--links-hover);
}

.toggel .icon {
   
   position: absolute;
   top: 0;
   left: 0;
   pointer-events: none;
   transition: 1s;
   
   
}
.toggel input{

 width: 150px;
 height: 70px;
 opacity: 0;
 cursor: pointer;
 
 

} .toggel .sun{

 opacity:  0;
 
}



 .toggel input:checked + label .sun{
   opacity:1;

 }
 
 .toggel input:checked + label .moon{
    opacity:0;
 
  }

 .toggel input:checked + label .icon{

      transform: translateX(70px)rotate(360deg);
} 

/* logo style */
 
.logomg img{

    width: 60px;
     padding-top: 10px;
     padding-left: 10px;
     margin-left: 10px;
     border-radius: 10px 0 0 0;
     transform: rotateY(200deg);
  }
 
 .titel{
   width: 50%;
    display: flex;
    align-items: center;
    
 }
 .cr p{
  
    font-size: 5rem;
    color: var(--links-hover);
    padding-left: 2px;
    padding-bottom: 12px;
    font-style: italic;
    letter-spacing: 13px;
    font-weight: 400;
    font-family: "Pacifico", cursive;
    
 }

 /* cars link */
.cards{
width: 100%;
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   justify-content: center;
}
.col{

   width: 20%;
   height: 100px;
   margin: 20px;
   padding: 20px;
   background-image: var(--col) ;
   border-radius: 20px;
 
 
   
}

 .col a{
    width: 100%;  
   font-size: 2.5rem;
   color: black;
   font-weight: 500;
   text-decoration: none;
   font-family:"Pacifico", cursive ;
   padding: 10px 20px 20px 0;
   letter-spacing: 2px;
   
   
} 


/* the first section */
.section-1{
   width: 80%;
   height: 150vh;
   background-color: var(--links);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   align-content: center;
   position: relative;
   margin: auto;
}
.p{


 width: 100%;
 height: 50%;
 background-color: var(--links-hover);
 height: 1080px;
 border: solid 1px ;
 font-size: 1.5rem;
border-radius: 15px;
white-space: wrap;
}
.p h1{

   line-height: 80px;
}
.first-car{

   width: 100%;
   height: 50%;
   display: flex;
   padding: 10px;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
   align-items: center;
}
.first-car span{

   display: inline-block;
   background-color: var(--links );
   
  
}
.ca-1 img{

width: 350px;
height: 350px;
padding-left: 10px;


}
.ca-2 img{

   width: 350px;
   height:350px;
   padding-left: 10px;

   
}

.ca-3 img{

   width: 350px;
   height:350px;
   padding-left: 10px;

}
/* sectio 3 grid */

  .grid {
   width: 80%;
   margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 320px);
  gap: 5px 10px;
}
.one {
  grid-column-start: 1;
  grid-column-end: span 2;
  /* grid-column: 1/span 1;  */
}
.grid img {
  width:100%;
  height:100%;
  object-fit: cover;
}
.two {
  grid-column-start: 3;
  grid-row-end: span 2;
}
.five {
  grid-row-end: span 2;
}
.six {
  grid-row-end: span 2;
}
.one img {
  object-fit: cover;
}
.ft{


   width: 100%;
   height: 50vh;
   background-color: var(--links-hover);
   display: flex;
   flex-direction: column;
   border-radius: 15px;
  align-items: center;
    justify-content: flex-start;
   
  
  
}
.main-footer{

   display: flex;
   margin: 20px;
   justify-content: space-evenly;

}
.first-footer{
width: 400px;
   background-color: var(--links);
   margin-top: 20px;
   margin-right: 20px;
   border-radius: 15px;
   color: white;
   padding-left: 20px;
   font-size: 2rem;
   
}

.second-footer{

   width: 400px;
   background-color: var(--links);
   margin-top: 20px;
   border-radius: 15px;
   color: white;
   padding-left: 20px;
   font-size: 2rem;
}




 @media (min-width: 150px) and (max-width: 459px)  
 {



  body{

      overflow-x: hidden;
   }
    .header{


        
         width: 100%;
         height: 80vh;
        background:url(image/lo-3.jpg) no-repeat center/cover;
       
    }
    .navbar{

        display: flex;
        flex-direction: column;
        height: 90px;
        justify-content: center;
    }


 .part1{
   width: 100%;
    display: flex;
    align-items: center;
    height: 50%;
 }
.part2 {

   
   width: 100%;
   height: 50%;
  

}
.links a{
margin-left:15px;

padding-left: 10px;
font-size: .9rem;
}

.logomg img{

    width: 70px;
     padding-top: 10px;
     padding-left: 1px;
     border-radius: 10px 0 0 0;
     transform: rotateY(200deg);
  }
 
 .titel{
   width: 50%;
    display: flex;
    align-items: center;
    
 }
 .cr p{
  
    font-size: 4rem;
    color: rgb(52, 154, 161);
    padding-left: 2px;
    padding-bottom: 12px;
    font-style: italic;
    letter-spacing: 13px;
    font-weight: 400;
    font-family: "Pacifico", cursive;;
 }
 .toggel{

    width: 70px;
    height: 20px;
    align-items: center;
 }

.toggel img{

    width: 20px;
    height: 20px;
}


.toggel input:checked + label .icon{

    transform: translateX(50px)rotate(360deg);

    

}
.section-1{

   align-content: flex-start;
   align-items: center ;
   justify-content: space-evenly;
} 
.first-car{

   width: 100%;
   height:fit-content;
   display: flex;
   flex-wrap: wrap; 
 background-color: var(--links-hover );
 border-radius: 15px;

} 
.first-car span{
 width: 100%;
   display: inline-block;
 background-color: var(--links-hover );

   
  
}
.ca-1 img{

width: 80%;
height: 150px;



}
.ca-2 img{

   width: 80%;
   height:150px;
}   
.ca-3 img{

   width: 80%;
   height:150px;
   

}
.p h1{


   text-align: left;
   line-height: 25px;
   font-size: 1.8rem;
}


   .p{


      width: 100%;
      background-color: var(--links-hover);
      height: fit-content;
      border: solid 1px ;
        font-size: .8rem;
        border-radius: 10px;
        text-align: center;
        
     }
    
     
     .second-footer{
      width: 200px;
      font-size: 1rem;
   }

   .first-footer{
     width: 150px;
      font-size: 1.2rem;
  
   }
 
   



 }
 @media (min-width: 460px) and (max-width: 684px)  
 {

   body{

      overflow-x: hidden;
   }
    .header{


        
         width: 100%;
         height: 80vh;
        background:url(image/lo-3.jpg) no-repeat center/cover;
       
    }
    .navbar{

        display: flex;
        flex-direction: column;
        height: 90px;
        justify-content: center;
    }


 .part1{
   width: 100%;
    display: flex;
    align-items: center;
    height: 50%;
 }
.part2 {

   
   width: 100%;
   height: 50%;
  

}
.links a{
margin-left:15px;

padding-left: 10px;
font-size: .9rem;
}

.logomg img{

    width: 70px;
     padding-top: 10px;
     padding-left: 1px;
     border-radius: 10px 0 0 0;
     transform: rotateY(200deg);
  }
 
 .titel{
   width: 50%;
    display: flex;
    align-items: center;
    
 }
 .cr p{
  
    font-size: 4rem;
    color: rgb(52, 154, 161);
    padding-left: 2px;
    padding-bottom: 12px;
    font-style: italic;
    letter-spacing: 13px;
    font-weight: 400;
    font-family: "Pacifico", cursive;;
 }
 .toggel{

    width: 70px;
    height: 20px;
    align-items: center;
 }

.toggel img{

    width: 20px;
    height: 20px;
}


.toggel input:checked + label .icon{

    transform: translateX(50px)rotate(360deg);

    

}
.section-1{

   align-content: flex-start;
   align-items: center ;
   justify-content: space-evenly;
} 
.first-car{

   width: 100%;
   height:fit-content;
   display: flex;
   flex-wrap: wrap; 
 background-color: var(--links-hover );

} 
.first-car span{
 width: 100%;
   display: inline-block;
 background-color: var(--links-hover );

   
  
}
.ca-1 img{

width: 50%;
height: 150px;



}
.ca-2 img{

   width: 50%;
   height:150px;
}   
.ca-3 img{

   width: 50%;
   height:150px;
   

}
.p h1{


   text-align: center;
   line-height: 25px;
}

   .p{


      width: 100%;
      background-color: var(--links-hover);
      height: fit-content;
      border: solid 1px ;
        font-size: 1rem;
        border-radius: 10px;
        text-align: center;
        
     }
    
     .second-footer{
      width: 200px;
      font-size: 1rem;
   }

   .first-footer{
     width: 200px;
      font-size: 1.5rem;
  
   }





 }

 @media (min-width: 685px) and (max-width: 800px)  
 {


    .header{


        position: static;
        width: 100%;
        height: 80vh;
       background:url(image/lo-3.jpg) no-repeat center/cover;
      z-index: 2;
   }
   .navbar{

       display: flex;
       flex-direction: column;
       height: 100px;
       justify-content: center;
   }


.part1{
  width: 100%;
   display: flex;
   align-items: center;
   height: 50%;
   margin-bottom: 8px;
}
.part2 {


   justify-content: center;
  width: 100%;
  height: 50%;
 

}
.links a{
text-decoration: none;
color: white;
background-color: skyblue;
margin-left: 40px;
padding: 5px;
font-size: 1.5rem;
border: solid  1px rgb(67, 170, 211);
border-radius: 20%;

}
.section-1{

   justify-content: center;
}
.first-car{

   width: 100%;
   height:fit-content;
   display: flex;
   flex-wrap: wrap; 
 background-color: var(--links-hover );

} 
.first-car span{
 width: 100%;
   display: inline-block;
 background-color: var(--links-hover );
 align-items: center;

   
  
}
.ca-1 img{

width: 50%;
height: 150px;



}
.ca-2 img{

   width: 50%;
   height:150px;
}
.ca-3 img{

   width: 50%;
   height:150px;
}
.p h1{

   line-height: 30px;
   font-size: 2rem;
   text-align: left;
}   

   .p{

        padding-top: 100px;
      width: 83%;
      background-color: var(--links-hover);
      height: fit-content;
      border: solid 1px ;
        font-size: 1rem;
        border-radius: 10px;
        margin: auto;
        text-align: center;
       
        
        
     }
       
   .second-footer{
      width: 250px;
      font-size: 1.8rem;
   }

   .first-footer{
     width: 250px;
      font-size: 1.8rem;
  
   }

     
}

@media (min-width: 801px) and (max-width: 1110Px) {
     


   .theme{

      overflow-x: hidden;
   }
   .header{
 background-color: black;
     width: 100%;
     height: 150vh;
     background-image: url(image/lo-3.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position:center;
     
   }
   .part2{
   
  width: 50%;
 


   }
   .links a{
    margin-left: 15px;
    padding: 5px;
    font-size: 1.5rem;
    border-radius: 20%;


   }
   
.section-1{
height: 200vh;
   justify-content: space-evenly;
   align-items: center;
   align-content: center;
}

.first-car{

   width: 100%;
   height:fit-content;
   display: flex;
   flex-wrap: wrap; 
 background-color: var(--links-hover );

} 
.first-car span{
 width: 100%;
   display: inline-block;
 background-color: var(--links-hover );

   
  
}
.ca-1 img{

width: 50%;
height: 250px;



}
.ca-2 img{

   width: 50%;
   height:250px;
}   

.ca-3 img{

   width: 50%;
   height:250px;
   

}
.p h1{

   line-height: 30px;

  
}

   .p{


      width: 100%;
      background-color: var(--links-hover);
      height: fit-content;
      border: solid 1px ;
        font-size: 1.5rem;
        border-radius: 10px;
        text-align: center;
        
     }
     
       
     .it img{

      max-width: 400px;
      max-height: 400px;
   }
    
   .second-footer{
      width: 350px;
      font-size: 1.8rem;
   }

   .first-footer{
     width: 350px;
      font-size: 1.8rem;
  
   }

}
 
 